body{
    background-color: rgb(143, 90, 207);
}
.outer{
    width: 900px;
    height: 2570px;
    background-color: rgb(108, 48, 165);
    color: transparent;
}
.ineer3{
    width: 1100px;
    height: 100px;
    background-color: transparent;
}
.ineer1,.ineer2,.ineer4{
    margin-left: 100px;
    margin-top: 50px;
    width: 1100px;
    border: 10px solid rgb(73, 56, 158);
    border-radius: 40px;
    height: 300px;
    background-color: rgb(73, 56, 158);
    box-shadow: 10px 5px 5px black;
    color: white;
}
.ineer5{
    margin-left: 100px;
    margin-top: 50px;
    width: 1100px;
    border: 10px solid rgb(73, 56, 158);
    border-radius: 40px;
    height: 1200px;
    background-color: rgb(73, 56, 158);
    box-shadow: 10px 5px 5px black;
    color: white;
}
.img{
     margin: 30px;
}
.in{
    display: flex;
}
.inp{
    background-color: white;
    color:black;
    display: grid;
    margin: 10px;
    width: 300px;
    height: 30px;
    font-size: x-large;
}
.input{
    display: inline-block;
    font-size: larger;
    padding-left: 50px;
}
.add{
    color: white;
}
#area{
    width: 400px;
    height: 150px;
    font-size: xx-large;
}
#sub{
    height: 30px;
    background-color: rgb(149, 159, 189);
    border: 5px solid rgb(129, 162, 167);
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.headline{
     font-family: Arial, Helvetica, sans-serif;
     text-shadow: 5px 5px 5px black);
     animation: marquee 30s  linear infinite;
     font-size: xx-large;
}
.foot{
    height: 50px;
    width: max-content;
    background-color: rgb(87, 143, 120);
    color: rgb(19, 10, 10);
}